<h1>BangoHuda#index</h1>

<% if @alive_bango_hudas.present? %>
  <% @alive_bango_hudas.each do |huda| %>
    <p class="mb-4 text-lg"><%= huda.bango %>
      <%= button_to '案内済み', done_bango_huda_path(huda), method: :patch, class: "bg-red-500 text-white py-2 px-4 rounded hover:bg-red-700" %>
      <%= button_to '不在', no_show_bango_huda_path(huda), method: :patch, class: "bg-red-500 text-white py-2 px-4 rounded hover:bg-red-700" %>
      <%= button_to 'キャンセル', cancel_bango_huda_path(huda), method: :patch, class: "bg-red-500 text-white py-2 px-4 rounded hover:bg-red-700" %>
    </p>
  <% end %>
<% end %>

<% if @done_bango_hudas.present? %>
  <% @done_bango_hudas.each do |huda| %>
    <p><%= huda.bango %></p>
  <% end %>
<% end %>

<% if @canceled_bango_hudas.present? %>
  <% @canceled_bango_hudas.each do |huda| %>
    <p><%= huda.bango %></p>
  <% end %>
<% end %>


<%= button_to 'Reset', reset_bango_hudas_path, method: :patch, form: { data: { turbo_confirm: "確認" } }, class: "bg-red-500 text-white py-2 px-4 rounded hover:bg-red-700 md:py-3 md:px-6 md:text-lg" %>

<%# <%= qrcode %>
