<!DOCTYPE html>
<html>
  <head>
    <title>WebBangoHuda</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="py-2 px-3 bg-green-100 text-green-800 text-center font-medium rounded-lg fixed top-0 inset-x-0" id="notice" style="z-index: 1000;">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="py-2 px-3 bg-red-100 text-red-800 text-center font-medium rounded-lg fixed top-0 inset-x-0 mt-6" id="alert" style="z-index: 1000;">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
